.pockets_login {
    display   : flex;
    background: #FFFFFF;

    .forgot_bg {
        display: flex;

        .forgot_empty {
            width     : 55%;
            background: #252947;
            position  : absolute;
            height    : 100vh;

            .login_background {
                height: 10%;
            }
        }

        .forgot_image {
            position: absolute;
        }
    }

}

.pocket_forgot_header {
    align-items    : center;
    justify-content: center;

    .forgot_logo_img {
        margin-top: 42px;

        .logo_of_login {
            width: 70%;
        }
    }

    .forgot_para {
        h2 {
            font-weight: 700;
            font-size  : 30px;
            color      : #101010;
        }

        p {
            font-weight: 400;
            font-size  : 16px;
            color      : #878787;
        }
    }

    .email_id {
        p {
            font-weight: 600;
            font-size  : 16px;
        }

        .pockets_input {
            background   : #FFFFFF;
            border       : 1px solid #D6D6D6;
            border-radius: 8px;
        }

        .pockets_otp_button {
            background   : #252947;
            border-radius: 8px;
            top          : 80px;
            width        : 70%;
            left         : 50px;

            span {
                font-weight: 600;
                font-size  : 14px;
                color      : #FFFFFF;
            }
        }
    }


}